NET BOARD_CLK LOC=P38; 

NET C_SEC1 LOC=P142;
NET C_SEC2 LOC=P139;
NET C_MIN1 LOC=P136;
NET C_MIN2 LOC=P134;
NET C_HOUR1 LOC=P140;
NET C_HOUR2 LOC=P138;
NET C_DAY1 LOC=P135;
NET C_DAY2 LOC=P133;
NET C_MONTH1 LOC=P104;
NET C_MONTH2 LOC=P102;

NET AN_A LOC=P119;
NET AN_B LOC=P117;
NET AN_C LOC=P115;
NET AN_D LOC=P113;
NET AN_E LOC=P118;
NET AN_F LOC=P116;
NET AN_G LOC=P114;
NET AN_DP LOC=P112;

NET LD0	LOC=P69;
NET RESET LOC=P143;
NET CLK2 LOC=P10;

NET SW_SET LOC=P39;
NET SW_HOUR24 LOC=P124;

NET SET_MIN LOC=P94;