NET CLK LOC=P38; 

NET AN1 LOC = P130;
NET AN2 LOC = P129;
NET AN3 LOC = P128;
NET AN4 LOC = P126;

NET C_A LOC=P56;
NET C_B LOC=P53;
NET C_C LOC=P60;
NET C_D LOC=P58;
NET C_E LOC=P57;
NET C_F LOC=P54;
NET C_G LOC=P61;

NET CLK2 LOC=P10;

NET LD0	LOC=P69;

NET RESET LOC=P143;		